<%- contentFor( 'body') %>

<div>
  <p>

    </p>
    <font face="open sans" color="#B82B45">
    <p> <b> Felipe Ferreira do Nascimento </b> <span class="copyleft">&copy;</span>, <span class="font-italic">all rights reserved</span></p>

    <p>Essa aplicação é um projeto desenvolvido na disciplina de Autpração Multimídia 2, do curso de Sistemas e Mídias Digitais. <b> <br/> A aplicação está sob licença: </b>  <a href="https://github.com/felipenferreira/first_app/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">GNU General Public License Version 3.0</a></p>

    <p>A aplicação foi projetada com base nas aulas e código do professor Wellington Wagner F. Sarmento.</a>
    
    <p> <br/> <b> Código completo da aplicação disponível em:   </b> <a href="https://github.com/felipenferreira/first_app" target="_blank" rel="noopener noreferrer">https://github.com/felipenferreira/first_app</a></p>
    </font>
</div>