  
<%- contentFor( 'body') %>

<div>
    <p>

    </p>
    <font face="roboto condensed" color="#DC4645">
      <h3> Sobre a Aplicação </h3> 
    </font>
    <p>
    <font face="open sans" color="#B82B45">
    Esta aplicação web foi projetada com das tecnologias Node.js, Express e EJS, bem como as linguagens HTML, CSS e JavaScript. Seu objetivo é simular uma aplicação simples de cadastramento de usuários, em que há as opções de listar, cadastrar, editar e excluir esses usuários do sistema. O objetivo é fomentar e aplicar os conhecimentos adquiridos durante a disciplina.

    <p> Desenvolvida pelo aluno Felipe Ferreira do Nascimento para o Trabalho 1 de disciplina de Autoração Multimídia 2, do curso de Sistemas e Mídias Digitais da Universidade Federal do Ceará (UFC), sob a tutela do professor Wellington Wagner F. Sarmento. </p> 
   </font>

    
</div>